global:
  resolve_timeout: 5m

route:
  receiver: 'email'

receivers:
  - name: 'email'
    email_configs:
      - to: 'singhharshwardhan2001@gmail.com'
        from: 'harshwardhandatscientist@gmail..com'
        smarthost: 'smtp.example.com:587'
        auth_username: 'harshwardhandatascientist@gmail.com''
        auth_identity: 'harshwardhandatascientist@gmail.com'
        auth_password: 'dvri gviu uskt xppa'
